.git
.gitignore
.venv
venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
.env
.env.*
!.env.example
*.md
!README.md
deploy
scripts
docker-compose*.yml
Dockerfile
.dockerignore
.DS_Store
